<div class="chat__head">
  <div class="chat__head-left">
    <div class="chat__head-left-title">
      hogefuga
    </div>
  </div>
  <div class="chat__head-right">
    <div class="chat__head-right-btn"> 
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="chat__main">
    <div class="chat__chat">
      <div class="chat__chat-head">
        <div class="chat__chat-name">
          Tom
        </div>
        <div class="chat__chat-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="chat__chat-content">
        おはよう
      </div>
    </div>
    <div class="chat__chat">
      <div class="chat__chat-head">
        <div class="chat__chat-name">
          Tom
        </div>
        <div class="chat__chat-date">
          2020/3/31(Wed) 12:43:30
        </div>
      </div>
      <div class="chat__chat-content">
        おはよう
      </div>
    </div>
</div>
<div class="chat__foot">
    <div class="chat-form-left">
      <input type="text" placeholder="type a message" class="chat-form-message">
      <label class="form-image">
        <span class="image-file">画像</span>
        <input type="file" class="hidden">
    </label>
    </div>
    <input type="submit"  value="送信" class="chat-form-btn">
</div>

