<div class="side-bar__head">
  <div class="side-bar__head-left">
      <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="side-bar__head-right">
    <%= link_to 'チャットを作成する', new_room_path %>
  </div>
</div>
<div class="side-bar__foot">
  <% current_user.rooms.each do |room| %>
    <div class="side-bar__foot-room">
      <a href="#"><%= room.name %></a>
    </div>
  <% end %>
</div>