<div class="side-bar__head">
  <div class="side-bar__head-left">
    <a href="#">Tom</a>
  </div>
  <div class="side-bar__head-right">
    <a href="#">チャットを作成する</a>
  </div>
</div>
<div class="side-bar__foot">
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
  <div class="side-bar__foot-room">
    <a href="#">techroom1</a>
  </div>
</div>