/* =================
全体
================= */

.wrapper{
  display: flex;
}

/* =================
サイドバー
================= */
.side-bar{
  width: 300px;
  height: 100vh;
  background-color: #253141;
}

.side-bar__head{
  height: 100px;
  padding: 0 20px;
  background-color: #253141;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.side-bar__head-left a{
  font-size: 16px;
  color: #fafafa;
  text-decoration: none;
}

.side-bar__head-right{
  border: 1px solid lightblue;
  padding: 14px;
}

.side-bar__head-right a{
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

.side-bar__foot{
  height: calc( 100% - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}

.side-bar__foot-room{
  margin: 20px 0  40px 0;
}

.side-bar__foot-room a{
  color: white;
  text-decoration: none;
}

/* =================
チャット
================= */
.chat{
  width: calc( 100vw - 300px );
  height: 100vh;
  background-color: #ffffff;
}

/* --------------------
チャットヘッダー
-------------------- */

.chat__head{
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.chat__head-left-title{
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.chat__head-right-btn{
  margin-top: 40px;
}

.chat__head-right-btn a{
  color: darkred;
  border: 1px solid darkred;
  text-decoration: none;
  padding: 20px;
} 

/* --------------------
チャットメイン
-------------------- */

.chat__main{
  height: calc( 100% - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0;
  overflow: scroll;
}

.chat__chat{
  margin-bottom: 40px;
}

.chat__chat-head{
  display: flex;
  margin: 10px 0;
}

.chat__chat-name{
  font-size: 16px;
  color: #434a54;
  margin-right: 10px;
}

.chat__chat-date{
  font-size: 12px;
  color: #999;
}

.chat__chat-content{
  font-size: 14px;
  color: #434a54;
}

/* --------------------
チャットフッター
-------------------- */

.chat__foot{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
  display: flex;
}

.chat-form-left{
  background-color: white;
  display: flex;
  width: 100%;
}

.chat-form-message{
  width: 100%;
  height: 50px;
  padding: 10px;
  border: none;
}

.chat-form-btn{
  height: 50px;
  font-size: 16px;
  color: white;
  background-color: #38aef0;
  padding: 0 20px;
  border: none;
  margin-left: 15px;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}